/* Brand Colors */
$brownish-grey:   #885f5e;
$scarlet:         #d0021b;
$light-grey-blue: #a3c5cb;
$navy-blue:       #002155;

/* Neutral */
$black:           #000000;
$light-grey:      #9b9b9b;
$white:           #ffffff;
